body {
	background-color: #2B3E50;
	
}


#wrapper {
	margin-top:100px:
    position: relative;
}


header {
	height:100px;
}

.entryclass{
	width:800px;
	height:354px;
	margin:0 auto;
  	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	
}

.navbar {
	float:left;
	background-color:#4E5D6C;
	color: black;	
	-	webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#logo
{
	width:200px;
	height:150px;	
    float:left;
    background-image: url("../img/coupons_logo.png");
}

.coupouns_panel{
	width:885px;
	-	webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
	
.right_li {
	padding-left:100px;

}
@media (max-width:480px){
	.right_li {
	padding-left:0px;
	}
}

.white {
	color: #ebebeb;
	background:none;
	border:none;
}

.white:hover {
	transition: color 1s ease;
	color: #d9edf7;
}

.black_gliph {
	color: black;
	background:none;
	border:none;
}
.black_gliph:hover {
	transition: color 1s ease;
	color: blue;
}

.entry_text{
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	font-size:130%;
	width:885px;
	height:400px;
	position: relative;
			
}

.user-list{
	padding:10px;
	display:block;
	clear:both;
}

.admin_form{
	padding-top:5px;
}

#error_div{
	margin: 0px auto;
	background-image: url(../img/404Pic.jpg);
	border-radius: 5px;
	width:520px;
	height:250px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.edit_coupon {
	margin-left: 70%;
}

.edit_form {
	margin-top:10px;
}

.admin-ul {
	list-style-type: none;
	padding:0px;
}

.admin-ul>li  {
	display:inline;
	width:200px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	color: inherit;
}

.admin-ul>li a {
	color: inherit;
}

.pull-right  {
	width:100px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	color: #FFF;
	
}

#lefted_form {
	float:left;
	width:40%;
}

#admin_response {
	background-image: url('../img/login_icon.png');
    background-repeat: no-repeat;
    margin-left:80px;
    width:202px;
    height:168px;
    position:relative;
    float:left;
}

#located_article {
	background-image: url('../img/Find_Location.png');
    background-repeat: no-repeat;
    margin-left:40px;
    width:300px;
    height:219px;
    position:relative;
    float:left;
    
}

#welcome_section {
    font-family: Alef;
    font-size: 20px;
    width:50%;
    position:relative;
    float:left;
}

#welcome_pic {
    background-image: url('../img/welcome-sign.png');
    background-repeat: no-repeat;
    position:relative;
    width:300px;
    height:225px;
    margin-left: 64px;
    width:40%;
    float:left;
}

.clear {
	clear: both;
}
	