<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CouponsProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>control</servlet-name>
  <servlet-class>il.ac.shenkar.samples.controller.InventoryController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>control</servlet-name>
  <url-pattern>/controller/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>admin</servlet-name>
  <servlet-class>il.ac.shenkar.samples.controller.adminController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>admin</servlet-name>
  <url-pattern>/adminController/*</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>myfilter</filter-name>
    <filter-class>il.ac.shenkar.samples.model.ResponseTimerFilter</filter-class>
	</filter>
	<filter-mapping>
      <filter-name>myfilter</filter-name>
      <servlet-name>control</servlet-name>
   </filter-mapping>
   
   <filter-mapping>
      <filter-name>myfilter</filter-name>
      <servlet-name>admin</servlet-name>
   </filter-mapping>
  
  	<listener>
		<listener-class>il.ac.shenkar.samples.listeners.SessionCounterListener</listener-class>
	</listener>



</web-app>